<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <div id="app">
        <div id="searchBar">
            Search <input type="text" v-model="searchQuery" />
        </div>
        <simple-grid :data="gridData" :columns="gridColumns" :filter-key="searchQuery">
        </simple-grid>
    </div>

    <template id="grid-template">
        <table>
            <thead>
                <tr>
                    <th v-for="col in columns">
                        {{ col }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="entry in data">
                    <!-- <td v-for="col in columns">
                        {{entry[col]}}
                    </td> -->
                    <td>{{entry.Name}}</td>
                    <td>{{entry.Age}}</td>
                    <td>{{entry.Sex}}</td>
                </tr>
            </tbody>
        </table>
    </template>

</body>

<script src="https://unpkg.com/vue@2.7.2/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.3"></script>
<script>
    Vue.component('simple-grid', {
        template: '#grid-template',
        props: ['data',
            'columns',
            'filterKey'],
    })

    var demo = new Vue({
        el: '#app',
        data: {
            searchQuery: '',
            gridColumns: ['name', 'age', 'sex'],
            gridData: [],
            apiUrl: 'http://127.0.0.1:9090/test/getGridData',
        },
        created: function () {
            console.log(this.apiUrl)
            this.getGridData()
        },
        methods: {
            getGridData: function () {
                console.log(this.apiUrl)
                this.$http.get(this.apiUrl)
                    .then((response) => {
                        this.$set('gridData', response.Data)
                        console.log(response.Data)
                    })
                    .catch(function (response) {
                        console.log(response)
                    })
            }
        }
    })
</script>

</html>